@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

#zen {
    position: fixed;
    top: 0;
    border: 2px dotted black;
    pointer-events: none;
}

#zen > div {
    position: absolute;
    top: -20px;
    width: 300px;
    font-family: 'Overpass Mono', Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid black;
    background-color: white;
}
