//colors
$color_athens_gray_approx: #edeff2;
$black_74: rgba(0, 0, 0, .74);
$cornflower_blue: cornflowerblue;
$color_congress_blue_76_approx: rgba(5, 73, 141, .76);
$white: white;
$color_brick_red_approx: #cf404d;
$color_rangoon_green_99_approx: rgba(31, 30, 30, .99);
$black_65: rgba(0, 0, 0, .65);
$color_congress_blue_approx: #05498d;
$white_20: hsla(0, 0%, 100%, .2);
$white_36: hsla(0, 0%, 100%, .36);
$color_athens_gray_19_approx: rgba(237, 239, 242, .19);
$black_9: rgba(0, 0, 0, .09);
$gold: gold;
$black: #000;
$white_21: hsla(0, 0%, 100%, .21);
$white_7: hsla(0, 0%, 100%, .07);
$white_44: hsla(0, 0%, 100%, .44);
$color_cape_cod_30_approx: rgba(64, 64, 71, .3);
$white_60: rgba(255, 255, 255, 0.6);
$gray: gray;
$color_gallery_approx: #eee;
$color_celeste_approx: #d0d0d0;
$black_80: rgba(0, 0, 0, 0.8);
$white_80: rgba(255, 255, 255, 0.8);
$color_chateau_green_approx: #38ac67;
$color_saffron_approx: #eac435;
$color_picton_blue_approx: #3898ec;
$red: red;
$white_50: rgba(255, 255, 255, 0.5);
$white_30: rgba(255, 255, 255, 0.3);
$blue: blue;
$color_cod_gray_approx: #0c0c0c;
$color_boston_blue_approx: #2980b9;
$color_log_cabin_approx: #222;
$color_gravel_approx: #474747;

//fonts
$font_0: Oswald;
$font_1: sans-serif;
$font_2: Arial;
$font_3: Helvetica Neue;
$font_4: Helvetica;
$font_5: Droid Serif;
$font_6: serif;
$font_7: Courier New;
$font_8: monospace;

//urls
$url_0: url(/images/outdoor.jpg);
$url_1: url(/images/indoor.jpg);

//@extend-elements
//original selectors
//section, .section
%extend_1 {
  background-color: $color_congress_blue_76_approx;
  padding: 20px;
  margin-top: 20px;
  color: $white;
}

body {
  background-color: $color_athens_gray_approx;
  font-family: $font_0, $font_1;
  color: $black_74;
  font-size: 16px;
  line-height: 20px;
  min-height: 100vh;
  position: relative;
  article {
    h1 {
      text-align: center;
      text-transform: uppercase;
    }
    &#page-profile {
      h2 {
        text-align: center;
        text-transform: uppercase;
      }
      section {
        > ul {
          margin: 0;
          padding: 0;
          > li {
            list-style: none;
            font-size: 18px;
            line-height: 1.2;
          }
        }
        &.programs a {
          //Instead of the line below you could use @include box-sizing($bs)
          box-sizing: border-box;
          &:hover {
            border: 1px solid $color_saffron_approx;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: -5px 0 14px 6px $black;
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: border-box;
          }
          &:nth-child(1) {
            margin-top: 250px;
          }
          &:nth-child(2) {
            margin-top: 200px;
          }
          &:nth-child(3) {
            margin-top: 150px;
          }
          &:nth-child(4) {
            margin-top: 100px;
          }
          &:nth-child(5) {
            margin-top: 50px;
          }
          &:nth-child(6) {
            margin-top: 0;
          }
          div > div {
            font-weight: 600;
            color: $white;
          }
        }
      }
    }
    &#page-program-index {
      color: $black;
      section.programs div > a > div > div {
        font-weight: 600;
        color: $white;
        &:hover {
          text-decoration: none;
        }
        &.eur::after {
          font-weight: 600;
        }
      }
    }
    &#page-transfers {
      form {
        padding: 10px;
        border: 1px solid $white;
        input {
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 0;
        }
      }
      .grid-view table {
        width: 100%;
        thead tr th {
          background: $blue;
          padding: 10px 20px;
          border: 1px solid $white;
          a {
            color: $white;
          }
        }
        tbody tr {
          background: $white;
          color: $color_cod_gray_approx;
          &:nth-child(odd) {
            background: $color_celeste_approx;
          }
          td {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

a {
  color: $cornflower_blue;
}

.outdoor {
  main {
    background: $url_0 top;
  }
  h1 {
    text-align: center;
    padding: 0;
    margin: 10px 0 22px;
  }
  #page-login {
    a {
      color: $white !important;
      text-decoration: underline;
    }
    form > div {
      width: 600px;
      margin: 0 auto;
      &.first {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
      }
    }
  }
}

#app {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

main {
  flex: 1;
  overflow-y: scroll;
  > .container {
    margin-top: 80px;
    max-width: 940px;
    font-family: $font_2, $font_3, $font_4, $font_1;
  }
}

section {
  @extend %extend_1;
}

.section {
  @extend %extend_1;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 4px;
  background-color: $color_brick_red_approx;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: background-color 300ms ease;
  color: $white;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border: none;
  &:hover {
    background-color: $black;
  }
  &.full-width {
    display: block;
    width: 100%;
    margin-top: 10px;
    background: $black linear-gradient(180deg, $white_21, $white_7);
    &:hover {
      background-image: linear-gradient(180deg, $black, $white_44);
    }
    &.padded {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_rangoon_green_99_approx;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 1px 1px 3px 0 $black_65;
  img {
    height: 46px;
    margin-right: 6px;
  }
  &.menu > :not(nav) {
    opacity: 1;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: opacity 500ms;
  }
}

.brand-text {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  //Instead of the line below you could use @include perspective($p)
  perspective: 911px;
  //Instead of the line below you could use @include perspective-origin($origin)
  perspective-origin: 50% 50%;
  font-family: $font_5, $font_6;
  color: $gold;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 0 50px $white;
  line-height: 48px;
}

@media(max-width: 640px) {
  header {
    flex-direction: column;
    flex-direction: column;
    &.menu {
      nav > .list {
        width: 100vw;
        width: 100vw;
      }
      > :not(nav) {
        opacity: 0;
        opacity: 0;
      }
    }
    nav > .open {
      width: 100vw;
      width: 100vw;
    }
  }
}

.form-control {
  min-height: 45px;
  margin-right: 1px;
  margin-bottom: 17px;
  border: 0 solid $black;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0 1px $color_cape_cod_30_approx;
  width: 280px;
}

.under-construction {
  position: relative;
  min-width: 200px;
  min-height: 200px;
  > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white_60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > img {
      max-width: 160px;
      max-height: 160px;
    }
  }
}

.transfer-pay {
  .cc-address {
    .value {
      font-family: $font_7, $font_8;
      color: $black;
      font-size: 16px;
    }
    .label:after {
      content: ':';
    }
  }
  &.cc {
    .cc-address {
      display: block;
    }
    .field-payment-amount {
      display: none;
    }
    [type=submit] {
      display: none;
    }
  }
}

.control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  > .filters {
    > * {
      margin-left: 4px;
    }
    .label:after {
      content: ': ';
    }
  }
}

.grid-view {
  td {
    border-width: 1px;
  }
  > table {
    td {
      padding: 8px 6px;
    }
    td[data-children] {
      padding-left: 12px;
    }
    thead tr input {
      height: 1.4rem;
      margin-bottom: 6px;
    }
  }
  .profile-link {
    display: flex;
    align-items: center;
    .avatar {
      height: 30px;
      width: 30px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
      background-size: cover;
      margin-right: 8px;
    }
  }
  table tr ~ .children > td {
    padding: 0;
  }
}

td[data-children="0"] {
  visibility: hidden;
}

td[data-children] {
  max-width: 40px;
}

[name="s[children]"] {
  max-width: 40px;
}

[name="s[level]"] {
  max-width: 40px;
}

tr[data-level] {
  cursor: pointer;
}

tr[data-id] {
  &:hover:not(.expanded) > td[data-children] {
    font-weight: bold;
    color: $gray;
    &:after {
      content: '🢃';
      color: $black;
    }
  }
  > td[data-children]:after {
    margin-left: 8px;
  }
}

tr {
  &.expanded {
    td[data-children]:after {
      content: '🢁';
    }
    + .children > td {
      visibility: visible;
      opacity: 1;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: opacity 300ms, visibility 300ms;
    }
  }
  + .children > td {
    position: relative;
    visibility: hidden;
    opacity: 0;
    > .grid-view {
      position: absolute;
      background-color: $white;
      top: 0;
      right: 0;
      left: 36px;
      border: 1px solid $color_celeste_approx;
    }
  }
}

#main {
  padding-bottom: 280px;
}

footer {
  width: 100%;
  background: $black;
  height: 100px;
  display: block;
  &.page-footer.red.darken-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.table-control {
  background-color: $color_gallery_approx;
  position: fixed;
  top: 76px;
  right: 12px;
  padding: 8px;
}

.panic {
  font-size: 1.5em;
  margin-left: 1em;
}

#overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $black_80;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 500ms, visibility 500ms;
  &.visible {
    visibility: visible;
    display: flex;
    opacity: 1;
  }
  .close {
    position: fixed;
    top: 8px;
    right: 8px;
    color: $white_80;
    font-size: 2em;
    cursor: pointer;
  }
  img {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 32px);
  }
}

#choose-locale {
  display: flex;
  flex-direction: column;
  li {
    display: none;
    &.current {
      display: block;
      order: 0;
    }
    &:not(.current) {
      order: 1;
      cursor: pointer;
    }
  }
  &:hover li {
    display: block;
  }
}

#page-profile {
  .days {
    .list {
      display: flex;
      width: 560px;
      border: 2px solid $white;
      counter-reset: day;
    }
    .day {
      background-color: $color_chateau_green_approx;
      display: inline-block;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      flex: 1;
      border-right: 2px solid $white;
      &.available {
        color: $color_chateau_green_approx;
        background-color: $white;
      }
      &:last-child {
        border-right: none;
      }
      &:before {
        counter-increment: day;
        content: counter(day);
      }
    }
  }
  .programs a {
    height: 180px;
  }
}

.programs {
  > div {
    display: flex;
    justify-content: space-between;
    text-align: center;
    > * {
      height: 210px;
      padding: 5px;
      border: 1px none $color_saffron_approx;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: -5px 0 14px 0 $black;
      height: auto;
    }
  }
  img {
    width: 120px;
  }
  button {
    margin-top: 4px;
  }
}

#page-transfers {
  button {
    background-color: $color_picton_blue_approx;
    padding: 9px 15px;
    border: 0;
  }
  .ticker {
    position: relative;
    background-color: $white;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    > div {
      position: absolute;
      right: 100%;
      display: none;
      color: $black;
      &.active {
        display: block;
        animation: ticker 8s linear;
        width: 100%;
      }
    }
  }
}

#page-deposit-index {
  ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      border: 1px solid transparent;
      cursor: pointer;
      margin: 0;
      padding: 0;
      width: 270px;
      padding: 20px;
      margin: 10px 0;
      background: $color_boston_blue_approx;
      &.current {
        border-color: $color_saffron_approx;
      }
      div {
        &:nth-child(3)::before {
          content: 'Срок: ';
        }
        &:nth-child(4)::before {
          content: 'Суточная прибыль: ';
        }
      }
    }
  }
  input {
    border: 1px solid transparent;
    color: $black;
  }
  form {
    display: flex;
    width: 850px;
    margin: 0 auto 10px;
    button {
      background: linear-gradient(180deg, $color_log_cabin_approx, $color_gravel_approx);
      border: 0;
      padding: 10px 20px;
      margin-left: 10px;
      text-transform: uppercase;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 5px;
      color: $white;
      &:hover {
        background: linear-gradient(180deg, $color_gravel_approx, $color_log_cabin_approx);
        color: $white;
      }
    }
    + div {
      width: 850px;
      margin: 0 auto 10px;
    }
  }
  h4 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 6px;
  }
  > .invalid input {
    border-color: $red;
  }
}

.h-stupen {
  color: $white;
}

@keyframes ticker {
  from {
    left: 100%;
  }
  to {
    left: -40%;
  }
}

main[v-cloak] {
  background-color: $black;
  > .cloak {
    position: fixed;
    background-color: $black;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
  }
}

main[v-cloak]::after {
  position: fixed;
  color: $white;
  content: 'Loading...';
  top: 10px;
  width: 100%;
  line-height: calc(100vh - 50px);
  text-align: center;
  font-size: 48pt;
}

h1 {
  text-align: center;
}

.pair {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 600px;
}

.regbutton {
  width: 600px;
  margin: 0 auto;
  a {
    color: $white;
    text-decoration: underline;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
  }
}

input[name="reflink"] {
  background: transparent;
  border: 0;
  width: 70%;
  font-weight: 200 !important;
  color: $white;
  text-decoration: underline;
}

.eur-sign::before {
  content: 'Инвестиция от: ';
}

button {
  background: linear-gradient(180deg, $color_log_cabin_approx, $color_gravel_approx);
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  color: $white;
  &:hover {
    background: linear-gradient(180deg, $color_gravel_approx, $color_log_cabin_approx);
    color: $white;
  }
}

input[name="amount"] {
  padding: 9px 0 9px 20px;
  &:before {
    content: 'Введите сумму: ';
  }
}

.help-block {
  color: $white !important;
  font-size: 12px;
}

.control-label {
  color: $white !important;
}

.ticker {
  margin-bottom: 10px;
  .active {
    font-size: 16px;
  }
}

.width100 {
  width: 100%;
}

.links {
  margin-bottom: 10px;
  text-decoration: underline;
  a {
    color: $white;
  }
}

.indoor main {
  background: $url_1 top;
  background-size: cover;
}

nav > {
  .list {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 50px;
    opacity: 0;
    background-color: $color_rangoon_green_99_approx;
    .split {
      height: 60px;
    }
  }
  .open {
    width: 180px;
    height: 50px;
    margin-left: 0;
    padding: 15px 0 10px;
    text-align: center;
    border-style: none;
    border-bottom: 1px $color_congress_blue_approx;
    background-image: linear-gradient(180deg, $white_20, transparent 51%, $white_36);
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    z-index: 2;
  }
}

.menu nav > .list {
  z-index: 1;
  width: 180px;
  opacity: 1;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: opacity 1s, width 1s;
  > a {
    display: block;
    padding: 10px 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, $color_athens_gray_19_approx, $black_9);
    font-family: $font_2, $font_3, $font_4, $font_1;
    color: $color_athens_gray_approx;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      color: $color_athens_gray_approx;
      text-decoration: none;
    }
    &.active {
      color: $gold;
    }
  }
}

.percent:after {
  content: '%';
}

.eur:after {
  content: ' €';
  font-weight: 400;
}

.eur-sign:after {
  content: ' €';
  font-weight: 400;
}

td.level {
  max-width: 40px;
}

.children thead th {
  background-color: $color_gallery_approx;
}

[data-level="2"] > td[data-children] {
  width: 30px;
}

.card-content .card-stats-compare {
  display: none;
}

#widget-article-view .cover img {
  display: none;
}

article.article [itemprop="identifier"] {
  display: none;
}

.table-striped > tbody > tr {
  &:nth-of-type(odd) {
    background-color: $white_50;
  }
  &:nth-of-type(even) {
    background-color: $white_30;
  }
}

.usd:after {
  content: ' USD';
  font-size: 12px;
  font-weight: 400;
}

.btc:after {
  content: ' BTC';
  font-size: 12px;
  font-weight: 400;
}

.eth:after {
  content: ' ETH';
  font-size: 12px;
  font-weight: 400;
}

#page-request .form-group {
  width: 600px;
  margin: 0 auto;
}

#page-login .help-block {
  color: $white !important;
  font-size: 12px;
  margin: 0 !important;
  padding: 0 !important;
}

.field-payment-amount + div a {
  background: linear-gradient(180deg, $color_log_cabin_approx, $color_gravel_approx);
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  color: $white;
  &:hover {
    background: linear-gradient(180deg, $color_gravel_approx, $color_log_cabin_approx);
    color: $white;
  }
}

.regbutton2 button {
  background: linear-gradient(180deg, $color_log_cabin_approx, $color_gravel_approx);
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  color: $white;
  &:hover {
    background: linear-gradient(180deg, $color_gravel_approx, $color_log_cabin_approx);
    color: $white;
  }
}

thead th {
  background: $blue;
  color: $white !important;
  a {
    background: $blue;
    color: $white !important;
  }
}

.structure-index table {
  width: 100%;
  thead tr th {
    padding: 10px;
    border: 1px solid $white;
  }
  tbody tr td {
    background: $white;
    border: 1px solid $blue;
    color: $black;
  }
}

.money span::after {
  content: ' €';
}

#page-settings-profile form > div {
  display: flex;
  width: 600px;
  margin: 0 auto;
  justify-content: space-between;
}

#page-password form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}
